@{
    ViewBag.Title = "TAREFA 2";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">@ViewBag.Title</h1>
        <p class="lead">O vetor de entrada para esta tarefa é BENICIO</p>
    </section>

    <div class="row">

    </div>
</main>